{% load static %}
<html>
    <head>
        <title>Myfarm</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <header class="header">
        <img src={% static 'images/back1.png' %} height="100" width="100" class="back"/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 shadow">
                    <img src={% static 'images/logo-ferma.png' %} height="130" width="130" class="logo"/>
                </div>
                <div class="col-lg-9 ">
                    <nav>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                         </button>

                        <ul class="menu d-flex justify-content-end">
                            <li class="menu__main">
                                <a href="#" >ГЛАВНАЯ</a>
                            </li>
                             <li class="menu__main">
                                <a href="#" >О НАС</a>
                            </li>
                             <li class="menu__main">
                                <a href="#" >МАГАЗИН</a>
                            </li>
                             <li class="menu__main">
                                <a href="#" >КОНТАКТЫ</a>
                            </li>
                        </ul>
                        <hr align="right" width="49%"/>
                        <ul class="menu d-flex justify-content-end">
                            <li class="menu__login">
                                <a href="#">Войти</a>
                            </li>
                        </ul>

                    </nav>

                </div>
                <div class="col-lg-1 btn_korzina_div">
                     <button class="btn korzina" type="submit"><img src={% static 'images/korzina.png' %} width=50 height=50/></button>
                </div>
                <div class="row">
                     <div class="col-lg-12">
                        <div class="paralelogram">
                           <img src={% static 'images/shape1.png' %}  width="825" height="1290" class="pae"  />

                        </div>
                         <div class="main_ma">
                              <img src={% static 'images/Layer 2.png' %} width="1025" height="640" class="vinograd"/>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </header>

    <div class="section-3">
<p class="left__vetka"><img src={% static 'images/vetka_left.png' %} width="50" height="50" class="vetka_left"/></p>

    <div class="container">

        <div class="row">



            <div class="col-lg-12">


                <div class="title">

                    <h2 class="title__main">
                        Ваше доверие
                    <br>

                        <img src={% static 'images/vetka.png' %} width="50" height="50" class="vetka"/>
                        <p class="title__work">Нашей работе</p>
                    </h2>
{#            {% block content %}#}
{#            {% endblock %}#}
                </div>
            </div>
        </div>
            <div class="row">


                <div class="col-lg-12">
                    <p class="right__vetka"> <img src={% static 'images/vetka_right.png' %} width="50" height="50" class="vetka_right"/></p>

                    <div class="shape">
                        <p class="center1"><img src={% static 'images/shape2.png' %} width="1025" height="640" class="shape__two"/></p>
                        <p class="shape__two__text">Мы открыли <a class="big-text">MyFarm</a> как решение для людей как мы, которые ищут
                        <br>
                        способы уменьшения содержания химических веществ в нашей жизни</p>
                    </div>
                </div>
            </div>

        <div class="size__icon">

            <div class="row">

                <div class="col-lg-3">
                    <div class="preim">
                         <img src={% static 'images/preim1.png' %} width="150" height="150" class="preim__img"/>
                         <div class="preim__text">
                             <p class="preim__text__title">Настоящее</p>
                             <p class="preim__text__opis">Органическое</p>
                         </div>

                    </div>
                </div>
                 <div class="col-lg-3">
                    <div class="preim">
                         <img src={% static 'images/preim2.png' %} width="150" height="150" class="preim__img  preim_tree"/>
                         <div class="preim__text">
                             <p class="preim__text__title">Всегда</p>
                             <p class="preim__text__opis">Свежее</p>
                         </div>

                    </div>
                </div>
                 <div class="col-lg-3">
                    <div class="preim ">
                         <img src={% static 'images/preim3.png' %} width="150" height="150" class="preim__img  preim_tree"/>
                         <div class="preim__text ">
                             <p class="preim__text__title">Здоровая</p>
                             <p class="preim__text__opis">Семья</p>
                         </div>

                    </div>
                </div>
                 <div class="col-lg-3">
                    <div class="preim ">

                         <img src={% static 'images/preim4.png' %} width="150" height="150" class="preim__img  preim_tree"/>
                         <div class="preim__text ">
                             <p class="preim__text__title">Без</p>
                             <p class="preim__text__opis">Консервантов</p>
                         </div>

                    </div>
                </div>

            </div>
            </div>

    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>
